################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/gne.slnx/FileContentIndex/5f6f7963-a074-4c73-88c3-3a61339bac06.vsidx
/.vs/gne.slnx/FileContentIndex
